<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>SuperScientists</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="scientists" class="menu-scientist">
      Scientists
    </LinkTo>
    <LinkTo @route="about" class="menu-about">
      About
    </LinkTo>
    <LinkTo @route="contact" class="menu-contact">
      Contact
    </LinkTo>
  </div>
</nav>
{{outlet}}